@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.anim_gradient {
    background: linear-gradient(45deg, #5757D9 0%, #21D9F7 100%);
            backgroundSize : "400% 400%";
            animation : "gradient 25s ease infinite";
        }
          
    @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    };

